```{=html}
<div class="about-links">
<% for (const item of items) { %>
    <a href="<%= item.href %>" class="about-link" rel="<%= item.rel %>" target="<%= item.target %>">
        <span class="about-link-text"><%= item['aria-label'] %></span>
    </a>
<% } %>
</div>
```
